#gallery
{   
    height: 5%;
    width: 50%;
    position: relative;
    margin: 1% auto;
    padding: 10px;
    background:rgba(255, 255, 255, 0.835);
    border-radius:15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

}