.head{
 color: rgba(76, 175, 80, 0.7);
text-align: left;
font-family:Pacifico;
}
.container {
  @media (min-width: 768px){
    display: none;}
}
.text{

  color:#52c27c;
  text-align: left;
  font-family: Kanit;
  margin-left: 75px;
  margin-bottom: 10px;

}
.text1{

  color: white;
  text-align: center;
  text-size-adjust: 100px;

  font-family: Kanit;
}
.text2{

  color: white;
  text-align: center;


  font-family: Kanit;
}
.color{
  padding: 10px;
  color:rgb(189, 96, 151);
  font-family: Pacifico;
  text-shadow:10px;

}
.names{

  text-align: auto;
  font-family:Kanit;
}
.BTN{

display: inline-block;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
border: none;
border-radius: 15px;
box-shadow: 0 6.5px #c8c8c8;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 50px;
}
.BTN:active {
  box-shadow: 0 5px #c8c8c8;
  transform: translateY(4px);
}

.image{
margin-left: 25px;
margin-top: 25px;

}
.intro{
  height:100%;
  width: 100%;
  margin: auto;
  display: table;
  top: 0;
  background-size: cover;
}