#content-news {
    position: relative;
    margin: 1% auto;
    padding: 10px;
    height: 1920x;
    width: 1440px;
    background:rgba(255, 255, 255, 0.835);
    border-radius:15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

}
.text-new{
    max-width: 500px;
    font-family: sans-serif;
    color: #40bf59;
}
