#container3
{
    position: relative;
    margin: 2% auto;
    height: 900px;
    width: 1400px;
    background:rgba(255, 255, 255, 0.835);
    border-radius:25px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#container4
{
    position: relative;
    margin: 2% auto;
    height: 1000px;
    width: 1000px;
    background:rgba(255, 255, 255, 0.835);
    border-radius:25px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#container7
{
    position: relative;
    margin: 1% auto;
    height: auto;
    width:auto;
    background:rgba(255, 255, 255, 0.9);
    border-radius:15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#container8
{   
    width: 250px;
    height: 350px;
    align-items: center;
    padding: 2%;
    position: relative;
    background:rgba(255, 255, 255, 0.9);
    border-radius:15px; 
}
.btn{
    margin-top: 10px;
    width: 100%;
}
#imageshop1 {
    margin-right : 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.size
{
    margin-top: 10px;
}
input[type="number"]
{
 margin-bottom: 10px;
 width: 35px;
 height: 30px;
 background:#fff;
 border: none;
 border-radius: 10px;
 color: #fafffde0;
 font-family: sans-serif;
 font-weight: 500;
 text-transform: uppercase;
 margin-left: 10px;
 text-align: center;

}
.text4{
    color: palevioletred;
    font-family: Kanit;
}
.button
{
    margin-bottom: 10px;
}
.outline-success
{
    width: 10px;
}