#container3
{
    position: relative;
    margin: 2% auto;
    height: 900px;
    width: 1400px;
    background:rgba(255, 255, 255, 0.835);
    border-radius:25px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#container4
{
    position: relative;
    margin: 2% auto;
    height: 550px;
    width: 550px;
    background:rgba(255, 255, 255, 0.835);
    border-radius:25px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}