#container3
{
    position: relative;
    margin: 2% auto;
    height: 900px;
    width: 1400px;
    background:rgba(255, 255, 255, 0.835);
    border-radius:25px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#container4
{
    position: relative;
    margin: 2% auto;
    height: 1000px;
    width: 1000px;
    background:rgba(255, 255, 255, 0.835);
    border-radius:25px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#container7
{
    position: relative;
    margin: 1% auto;
    height: auto;
    width:auto;
    background:rgba(255, 255, 255, 0.9);
    border-radius:15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#container8
{
    position: relative;
    margin: 1% auto;
    padding: 10px;
    height: 560;
    width:200;
    background:rgba(255, 255, 255, 0.9);
    border-radius:15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.size
{
    margin-top: 10px;
}
input[type="number"]
{
 margin-bottom: 10px;
 width: 25px;
 height: 20px;
 background:#fff;
 border: none;
 border-radius: 30px;
 color: #47de8e;
 font-family: sans-serif;
 font-weight: 500;
 text-transform: uppercase;
 transition: 0.2 ease;
 margin-left: 10px;
 text-align: center;
 text-decoration-color: #fff;
}
.text4{
    color: palevioletred;
    font-family: Kanit;
}
.button
{
    margin-bottom: 10px;
}
.outline-success
{
    width: 10px;
}