.BTN{
  background-image: linear-gradient( 110.8deg,  rgba(86,238,225,1) 11.4%, rgba(176,255,39,1) 84.5% );
  display: inline-block;
padding: 15px 25px;
font-size: 24px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
margin-bottom: 50px;
margin-left: 50px;
opacity: 0.6;
}
.BTN:hover {
background-image: linear-gradient( 109.1deg,  rgba(42,132,201,1) 14.6%, rgba(47,249,233,1) 108.2% );
opacity: 1;
}


.BTN:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.Input{
  background-image: linear-gradient( 109.6deg,  rgba(255,98,98,0.71) 11.3%, rgba(255,6,6,1) 100.2% );
  display: block;
  padding: 10px 10px;
  font-size: 15px;
  font-family: forte;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  margin:10px;
}
